@tailwind base;
@tailwind components;
@tailwind utilities;

.site-content {
    min-height: calc(100vh - 70px);
}

footer {
    margin-top: 0;
    margin-bottom: -10px;
    height: 70px;
}

.message-box {
    display: flex;
    font-size: 20px;
}

.message-box .message-author {
    color: white;
    font-weight: 500;
}

.message-box .message-content {
    font-weight: lighter;
    margin-left: 3px;
}

.message-content img {
    width: 300px;
    max-height: 500px;
    margin-top: 8px;
    transition: 250ms;
    border-radius: 5px;
    object-fit: contain;
    background-color: black;
}

.message-content img:hover {
    filter: drop-shadow(1px 3px 5px black);
}
